@page
@model IdentityDeveloperTemplates.AzureADB2C.WebApp.Pages.PrivateContentModel
@{
    ViewData["Title"] = "PrivateContent";
}

<h1>@Model.UserFirstName @Model.UserLastName</h1>

<br/>

<img src="data:image;base64,@System.Convert.ToBase64String(Model.UserPhoto)" />

