@page
@model IdentityDeveloperTemplates.AzureADB2C.Authz.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1>Integrate ASP .NET Core Web App with Azure AD B2C</h1>
        <br />
    </div>
<center><img src="~/images/AzureActiveDirectoryB2C.png" alt="AzureActiveDirectoryB2C.png" width="300" /></center>
<br/>
<center><img src="~/images/IdentityDeveloperTemplates.png" alt="AzureDeveloperTemplates.png" width="800" /></center>
