@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1>Integrate ASP .NET Core Web App with Azure AD</h1>
    </div>
<center><img src="~/images/AzureActiveDirectory.png" alt="AzureActiveDirectory.png" width="300" /></center>
<br />
<center><img src="~/images/IdentityDeveloperTemplates.png" alt="AzureDeveloperTemplates.png" width="800" /></center>
